
<div class="container header-container">
    <div class="row">
      <div class="col-sm-6">
        <div>
          <h5 class="text-uppercase">your order</h5>
        </div>
        <div class="order-block">
          <ul class="list-inline d-flex justify-content-between">
            <li class="list-inline-item">Items 
              <p>2 documents</p>
            </li>
            <li class="list-inline-item">Detailes 
              <p>2 languages</p>
            </li>
            <li class="list-inline-item">Price 
              <p>$ 600</p>
            </li>
            <li class="list-inline-item">Delivery 
              <p>48 houres</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-2 d-flex flex-column align-items-center">
        <button type="button" class="header-btn btn btn-primary">Place order</button>
        <button type="button" class="header-btn btn btn-light">Print a qoute</button>
      </div>
      <div class="col-sm-4 header-contakts">
        <p>help center</p>
        <p>if you need assistance repellendus voluptate quasi repudiandae modi labore distinctio ducimus</p>
        <a href="tel:9710555555">+971 (0) 555 555</a>
        <a href="mailto:help@qtest.com">help@qtest.com</a>
      </div>
    </div>
  </div>