@import '~bootstrap/dist/css/bootstrap.css';

.header-container {
    margin-top: .5rem;
    padding: 1rem;
    font-size: 14px;

    .order-block {
        padding-left: 3rem;

        li {
            text-transform: uppercase;
            font-weight: 600;
        }

        p {
            color: gray;
            text-transform: lowercase;
        }
    }

    .header-btn {
        margin: .5rem;
        width: 9rem;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        border: 1px solid gray;
    }

    .header-contakts {
        padding-top: 1rem;
        padding-left: 3rem;

        p:first-child {
            text-transform: uppercase;
            font-weight: 600;
        }

        a {
            margin-right: 1rem;
            color: black ;
            font-weight: 600;
        }
    }
}

