<div class="container">
    <div class="row">
      <div class="type-translation-title col-sm-12">
        <h2 class="text-center">Select what you want to translate</h2>
      </div>

      <div class="type-translation-block col-sm-12 d-flex justify-content-around">
        <button type="button" class="btn-type-translation btn btn-outline-secondary">
          <img src="../../assets/image/web-page.png" alt="web-page image">
          Website</button>
        <button type="button" class="btn-type-translation btn btn-outline-secondary">
          <img src="../../assets/image/document.png" alt="document image">
          Documents</button>
        <button type="button" class="btn-type-translation btn btn-outline-secondary">
          <img src="../../assets/image/social.png" alt="social image">
          Social Account</button>
      </div>
    </div>
  </div>

  <form class="order-translation-form" [formGroup]="form" (ngSubmit)="orderSubmit()">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 form-block">
          <div class="form-block-title">
            <h3><span class="order-list">1</span> Upload your document <span class="comments">(Doc, Docx, Text, PDF, Markdown)</span></h3>
          </div>
          <div class="form-block-content inp-files mb-3">
            <label class="custom-file-upload btn btn-light" for="file">Upload a new file</label>
            <input
              aria-label="file example" required
              type="file"
              id="file"
              formControlName="files"
              (change)="handleFileInput($event)">

            <div class="files-table col-sm-12" *ngIf="uploadedFiles.length > 0">
              <table class="table table-borderless" >
                <tr>
                  <th>File Name</th>
                  <th>File Size</th>
                  <th>Number of Words</th>
                  <th>Remove</th>
                </tr>
                <tr *ngFor="let file of uploadedFiles">
                  <td>{{file.name}}</td>
                  <td>{{file.size / 1024 | number}}kb</td>
                  <td>842</td>
                  <td><div class="remove-file" (click)="removeFile(file)">del</div></td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="col-sm-12 form-block">
          <div class="form-block-title">
            <h3><span>2</span> Choose your languages pairings</h3>
          </div>
          <div class="form-block-content lang-select">
            <div class="col-sm-12">
              <p>from:
                <select
                  class="form-select btn btn-light"
                  aria-label="Default select example"
                  formControlName="translateFrom">
                  <option *ngFor="let lang of languages | enumToArray" value="{{lang}}">{{lang | titlecase}}</option>
                </select>
              </p>
            </div>
            <div class="col-sm-12">
              <p>to:
                <select
                class="form-select btn btn-light"
                aria-label="Default select example"
                formControlName="translateTo">
                  <option *ngFor="let lang of languages | enumToArray" value="{{lang}}">{{lang | titlecase}}</option>
                </select>
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-5 form-block">
          <div class="form-block-title">
            <h3><span>3</span> Select your desired tone</h3>
          </div>
          <div class="select-desire-ton form-block-content d-flex justify-content-center btn-group-vertical btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="translateTone">
              <label ngbButtonLabel *ngFor="let tone of translationTones | enumToArray" class="btn-desire-tone btn-outline-secondary">
                <input ngbButton type="radio" [value]="tone"> {{translationToneDescription[tone]}}
              </label>
          </div>
        </div>

        <div class="col-sm-7 form-block">
          <div class="form-block-title">
            <h3><span>4</span> Tell us how urgent this job is</h3>
          </div>
          <div class="form-block-content" >
            <app-urgency-selector [urgencyList]="urgencyList" [default]="'average'" (setUrgency)="setUrgency($event)"></app-urgency-selector>
          </div>
        </div>

        <div class="col-sm-12 form-block">
          <div class="form-block-title">
            <h3><span>5</span> Sign up and choose a payment method</h3>
          </div>
          <div>
            <p>Already have an account with us? <span>Sign in</span></p>
          </div>
          <div class="customer-data form-block-content lang-select row">
            <div class="col-12">
              <label for="inputName" class="form-label">Full Name</label>
              <input type="text" class="form-control" id="inputName" formControlName="fullName">
              <div *ngIf="controls.fullName.invalid && controls.fullName.dirty"
                  class="alert alert-danger">
                <div *ngIf="controls.fullName.errors.required">
                  Name is required.
                </div>
                <div *ngIf="controls.fullName.errors.minlength">
                  Name must be at least 8 characters long.
                </div>
                <div *ngIf="controls.fullName.errors.maxlength">
                  Name must be not more then 32 characters long.
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <label for="inputEmail" class="form-label">Email Address</label>
              <input type="email" class="form-control" id="inputEmail" formControlName="email">
              <div *ngIf="controls.email.invalid && controls.email.dirty"
              class="alert alert-danger">
                <div *ngIf="controls.email.errors.required">
                  Email is required.
                </div>
                <div *ngIf="controls.email.errors.pattern">
                  Some characters is not order.
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <label for="inputPassword" class="form-label">Choose a password</label>
              <input type="password" class="form-control" id="inputPassword" formControlName="password">
              <div *ngIf="controls.password.invalid && controls.password.dirty"
              class="alert alert-danger">
                <div *ngIf="controls.password.errors.required">
                  Password is required.
                </div>
                <div *ngIf="controls.password.errors.pattern">
                  Some characters is not order.
                </div>
              </div>
            </div>

            <div class="col-6">
              <label for="cardNumber" class="form-label">Card Number</label>
              <input type="text" class="form-control card-number " id="cardNumber" formControlName="cardNumber">
              <div *ngIf="controls.cardNumber.invalid && controls.cardNumber.dirty"
              class="alert alert-danger">
                <div *ngIf="controls.cardNumber.errors.required">
                  The card number is required.
                </div>
                <div *ngIf="controls.cardNumber.errors.pattern">
                  The card number characters should be numbers.
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <label for="cardExpDate" class="form-label">Expiry date</label>
              <input type="text" class="form-control" id="cardExpDate" placeholder="DD/MM/YY" formControlName="expiryDate">
              <div *ngIf="controls.expiryDate.invalid && controls.expiryDate.dirty"
              class="alert alert-danger">
                <div *ngIf="controls.expiryDate.errors.required">
                  Card Expiry Date number is required.
                </div>
                <div *ngIf="controls.expiryDate.errors.pattern">
                  Card Expiry Date should be in DD/MM/YY maner.
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <label for="cardCode" class="form-label">Code</label>
              <input type="password" class="form-control" id="cardCode" formControlName="code">
              <div *ngIf="controls.code.invalid && controls.code.dirty"
              class="alert alert-danger">
                <div *ngIf="controls.code.errors.required">
                  Card's code is required.
                </div>
                <div *ngIf="controls.code.errors.pattern">
                  The card's code characters should be numbers.
                </div>
                <div *ngIf="controls.code.errors.maxlength">
                  Should not be more then 3 characters long.
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="form-footer col-sm-12 d-flex justify-content-between">
          <div class="form-check d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="gridCheck" formControlName="isTermsAgreed">
            <label class="form-check-label" for="gridCheck" >
              I agree to the <span>Terms & Conditions</span>
            </label>
            <div *ngIf="controls.isTermsAgreed.invalid"
              class="alert alert-danger">
                <div *ngIf="controls.isTermsAgreed.errors.required">
                  You should to agree to the Terms & Conditions before submit.
                </div>
              </div>
          </div>
          <div>
            <!-- [disabled]="form.invalid" -->
            <button class="btn btn-light btn-submit" type="submit">Place Order</button>
            <button class="btn btn-light" type="button">Print a Quote</button>
          </div>
        </div>
      </div>
    </div>
  </form>
