.type-translation-title {
    padding: 5rem 0 3rem 0;

    h2 {
        font-size: 24px;
        color: #6c757d;
        text-transform: uppercase;
    }
}

.type-translation-block {
    padding: 0 5rem;

    img {
        display: block;
        width: 50%;
        margin: 10px auto;
    }

    .btn-type-translation {
        width: 10rem;
        height: 10rem;
        background-color: #eef2f7ba;
        border-color: #dae0e5;
        font-weight: 600;
        position: relative;

        &:hover {
            background-color: #d6dde2;
            color: #6c757d;
        }

        &:focus,
        &:active {
            color: #6c757d;
            background-color: #e2e3e4;
            box-shadow: 0 0 0 0.2rem rgb(61 131 251 / 92%);
        }

        &:focus::after,
        &:active::after {
            font-size: 24px;
            position: absolute;
            content: url(../../assets/image/check-mark.svg);
            top: -18px;
            left: 100%;
            transform: translateX(-50%);
            height: 30px;
            width: 30px;
            line-height: 50px;
            border-radius: 50%;
            background: white;
        }
    }
}

.order-translation-form {
    margin-top: 10rem;
    min-height: 300px;
}

.form-block {
    margin-bottom: 4rem;

    .form-block-title{
        h3 {
            font-size: 20px;

            span.comments {
                font-size: .8rem;
                color: #6c757d;
            }
        }
    }
    .form-block-content {
        margin-top: 1.5rem;
    }

}

.inp-files {

    input[type="file"] {
        display: none;
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    .files-table {
        padding: 1rem 1.5rem;
        border: 1px solid #cccccc;

        th {
            color: #6c757d;
            text-transform: uppercase;
        }

        td {
            color: #6c757d;
        }
    }

    .remove-file {
        cursor: pointer;
    }
}

.lang-select {
    p {
        color: #6c757d;
        text-transform: uppercase;
        font-weight: 600;

        select {
            margin: 0.5rem 2rem;
            padding: 0.5rem;
        }
    }
}

.select-desire-ton {

    padding: 0 2rem;

    .btn-desire-tone {
        margin-bottom: 2rem;
        padding: 18px 0;
        background-color: #eef2f7ba;
        border-color: #dae0e5;
        border-radius: 5px;
        font-weight: 600;

        &:hover {
            background-color: #d6dde2;
            color: #6c757d;
            box-shadow: none;
        }

        &:focus,
        &:active,
        &:checked {
          color: #6c757d;
          background-color: #e2e3e4;
          box-shadow: none
        }

        &.active {
            color: #6c757d;
            border: 4px solid #7daadf;
            box-shadow: none;

            &::after {
            font-size: 24px;
            position: absolute;
            content: url(../../assets/image/check-mark.svg);
            top: -18px;
            left: 100%;
            transform: translateX(-50%);
            height: 30px;
            width: 30px;
            line-height: 50px;
            border-radius: 50%;
            background: white;
            }
        }
    }

    input[type=radio]:checked +
    .btn-desire-tone::after {
        border: 2px solid black;
    }

    .customer-data {
        input {
            &.ng-invalid.ng-touched {
                border: 1px solid red;
            }
        }
    }
}

.form-control {
    &.card-number {
        background: url('../../assets/image/visa.svg') no-repeat;
        background-position-x: 99%;
    }
        
    &.ng-valid {
        box-shadow: none;
        background: url('../../assets/image/check-mark.svg') no-repeat;
        background-position-x: 99%;
        background-position-y: 42%;
        background-size: 20px;
    }
    
    &.ng-invalid.ng-dirty {
        box-shadow: none;
        background: url('../../assets/image/close.svg') no-repeat;
        background-position-x: 99%;
        background-position-y: 42%;
        background-size: 20px;
    }
}

    

.form-footer {
    margin: 5rem 0 10rem 0;

    .btn {
        margin: 0.5rem;
        width: 11rem;
        padding: 1rem 0;
        border-color: #dae0e5;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 800;

        &.btn-submit {
            color: white;
            background-color:#5fd8ea;
            border-color: #17a2b8;
        }
    }

}
